.style_border {
    border: 2px solid black;
    border-radius: 8px;
}

.call_to_action {
    background-color: rgb(24, 223, 90);
    display: inline;
    padding: 8px;
}

.max_width_512 {
    max-width: 512;
}